div.jqmConfirm input[type="submit"] { padding: 4px; margin: 10px 30px; background: #000; color: #FFF; border: 1px solid #AAA; }

/* jqModal confirm CSS courtesy of;
	 Alexandre Plennevaux <alexandre@pixeline.be>,
	 Brice Burgess <bhb@iceburg.net> */

div.jqmConfirm { /* contains + positions the alert window */
	display: none;
	
	position: fixed;
	top: 17%;
	width: 100%;
}
    
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html div.jqmConfirm {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

div.jqmConfirmWindow {
	height:auto;
	width: auto;
	margin: auto;
	
	max-width:400px;
	padding: 0 10px 10px;
	
	background:#FFF;
	border:1px dotted #FFF;
}

.jqmConfirmTitle{
	margin:5px 2px;
	height:20px;
	color:#000;
	background:#FFF;
}
.jqmConfirmTitle h1{
	margin:5px 2px;
	padding-left:5px;
	padding:0;
	font-size:14px;
	text-transform:capitalize;
	letter-spacing:-1px;
	font-weight:bold;
	color:#000;

	float:left;
	height:20px;
}

div.jqmConfirm .jqmClose em{display:none;}
div.jqmConfirm .jqmClose {
	width:20px;
	height:20px;
	display:block;
	float:right;
	clear:right;
	background:transparent url(confirm/close_icon_double.png) 0 0 no-repeat;
}

div.jqmConfirm a.jqmClose:hover{ background-position: 0 -20px; }

div.jqmConfirmContent{
	border-top:px;
	color:#000;
	font:11px/14pt arial;
	padding:5px 20px 5px;
	margin:5px;
	border:1px dotted #111;
	letter-spacing:0px;
	background:#FFF url(confirm/darkgrid.png);
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  clearing a float without additional markup
   http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */